.icon {
	display: inline-block;
	width: var(--size-medium);
	height: var(--size-medium);
	font-size: var(--font-size-xsmall);
	font-family: var(--font-stack);
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
	user-select: none;

	&--text {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: var(--font-size-xsmall);
		font-family: var(--font-stack);
	}

	&--adjust {
		background-image: url('../icons/adjust.svg');
	}
	&--alert {
		background-image: url('../icons/alert.svg');
	}
	&--angle {
		background-image: url('../icons/angle.svg');
	}
	&--arrow-left-right {
		background-image: url('../icons/arrow-left-right.svg');
	}
	&--arrow-up-down {
		background-image: url('../icons/arrow-up-down.svg');
	}
	&--auto-layout-horizontal {
		background-image: url('../icons/auto-layout-horizontal.svg');
	}
	&--auto-layout-vertical {
		background-image: url('../icons/auto-layout-vertical.svg');
	}
	&--back {
		background-image: url('../icons/back.svg');
	}
	&--blend-empty {
		background-image: url('../icons/blend-empty.svg');
	}
	&--blend {
		background-image: url('../icons/blend.svg');
	}
	&--break {
		background-image: url('../icons/break.svg');
	}
	&--caret-left {
		background-image: url('../icons/caret-left.svg');
	}
	&--caret-up {
		background-image: url('../icons/caret-up.svg');
	}
	&--caret-right {
		background-image: url('../icons/caret-right.svg');
	}
	&--caret-down {
		background-image: url('../icons/caret-down.svg');
	}
	&--check {
		background-image: url('../icons/check.svg');
	}
	&--close {
		background-image: url('../icons/close.svg');
	}
	&--component {
		background-image: url('../icons/component.svg');
	}
	&--corner-radius {
		background-image: url('../icons/corner-radius.svg');
	}
	&--corners {
		background-image: url('../icons/corners.svg');
	}
	&--distribute-horizontal-spacing {
		background-image: url('../icons/distribute-horizontal-spacing.svg');
	}
	&--distribute-vertical-spacing {
		background-image: url('../icons/distribute-vertical-spacing.svg');
	}
	&--draft {
		background-image: url('../icons/draft.svg');
	}
	&--effects {
		background-image: url('../icons/effects.svg');
	}
	&--ellipses {
		background-image: url('../icons/ellipses.svg');
	}
	&--eyedropper {
		background-image: url('../icons/eyedropper.svg');
	}
	&--forward {
		background-image: url('../icons/forward.svg');
	}
	&--frame {
		background-image: url('../icons/frame.svg');
	}
	&--group {
		background-image: url('../icons/group.svg');
	}
	&--heart {
		background-image: url('../icons/heart.svg');
	}
	&--heart-fill {
		background-image: url('../icons/heart-fill.svg');
	}
	&--hidden {
		background-image: url('../icons/hidden.svg');
	}
	&--horizontal-padding {
		background-image: url('../icons/horizontal-padding.svg');
	}
	&--hyperlink {
		background-image: url('../icons/hyperlink.svg');
	}
	&--image {
		background-image: url('../icons/image.svg');
	}
	&--instance {
		background-image: url('../icons/instance.svg');
	}
	&--key {
		background-image: url('../icons/key.svg');
	}
	&--align-horizontal-centers {
		background-image: url('../icons/layout-align-horizontal-centers.svg');
	}
	&--align-vertical-centers {
		background-image: url('../icons/layout-align-vertical-centers.svg');
	}
	&--align-left {
		background-image: url('../icons/layout-align-left.svg');
	}
	&--align-top {
		background-image: url('../icons/layout-align-top.svg');
	}
	&--align-right {
		background-image: url('../icons/layout-align-right.svg');
	}
	&--align-bottom {
		background-image: url('../icons/layout-align-bottom.svg');
	}
	&--layout-grid-columns {
		background-image: url('../icons/layout-grid-columns.svg');
	}
	&--layout-grid-rows {
		background-image: url('../icons/layout-grid-rows.svg');
	}
	&--layout-grid-uniform {
		background-image: url('../icons/layout-grid-uniform.svg');
	}
	&--library {
		background-image: url('../icons/library.svg');
	}
	&--link-broken {
		background-image: url('../icons/link-broken.svg');
	}
	&--link-connected {
		background-image: url('../icons/link-connected.svg');
	}
	&--list-detailed {
		background-image: url('../icons/list-detailed.svg');
	}
	&--list-tile {
		background-image: url('../icons/list-tile.svg');
	}
	&--list {
		background-image: url('../icons/list.svg');
	}
	&--lock-off {
		background-image: url('../icons/lock-off.svg');
	}
	&--lock-on {
		background-image: url('../icons/lock-on.svg');
	}
	&--minus {
		background-image: url('../icons/minus.svg');
	}
	&--play {
		background-image: url('../icons/play.svg');
	}
	&--plus {
		background-image: url('../icons/plus.svg');
	}
	&--random {
		background-image: url('../icons/random.svg');
	}
	&--recent {
		background-image: url('../icons/recent.svg');
	}
	&--resize-to-fit {
		background-image: url('../icons/resize-to-fit.svg');
	}
	&--resolve-filled {
		background-image: url('../icons/resolve-filled.svg');
	}
	&--resolve {
		background-image: url('../icons/resolve.svg');
	}
	&--reverse {
		background-image: url('../icons/reverse.svg');
	}
	&--search-large {
		background-image: url('../icons/search-large.svg');
	}
	&--search {
		background-image: url('../icons/search.svg');
	}
	&--settings {
		background-image: url('../icons/settings.svg');
	}
	&--share {
		background-image: url('../icons/share.svg');
	}
	&--smiley {
		background-image: url('../icons/smiley.svg');
	}
	&--sort-alpha-asc {
		background-image: url('../icons/sort-alpha-asc.svg');
	}
	&--sort-alpha-dsc {
		background-image: url('../icons/sort-alpha-dsc.svg');
	}
	&--sort-top-bottom {
		background-image: url('../icons/sort-top-bottom.svg');
	}
	&--spacing {
		background-image: url('../icons/spacing.svg');
	}
	&--spinner {
		background-image: url('../icons/spinner.svg');
	}
	&--star-off {
		background-image: url('../icons/star-off.svg');
	}
	&--star-on {
		background-image: url('../icons/star-on.svg');
	}
	&--stroke-weight {
		background-image: url('../icons/stroke-weight.svg');
	}
	&--styles {
		background-image: url('../icons/styles.svg');
	}
	&--swap {
		background-image: url('../icons/swap.svg');
	}
	&--theme {
		background-image: url('../icons/theme.svg');
	}
	&--tidy-up-grid {
		background-image: url('../icons/tidy-up-grid.svg');
	}
	&--tidy-up-list-horizontal {
		background-image: url('../icons/tidy-up-list-horizontal.svg');
	}
	&--tidy-up-list-vertical {
		background-image: url('../icons/tidy-up-list-vertical.svg');
	}
	&--timer {
		background-image: url('../icons/timer.svg');
	}
	&--trash {
		background-image: url('../icons/trash.svg');
	}
	&--vertical-padding {
		background-image: url('../icons/vertical-padding.svg');
	}
	&--visible {
		background-image: url('../icons/visible.svg');
	}
	&--warning-large {
		background-image: url('../icons/warning-large.svg');
	}
	&--warning {
		background-image: url('../icons/warning.svg');
	}
}
