:root {
	/* Spacing + Sizing */
	--size-xxxsmall: 4px;
	--size-xxsmall: 8px;
	--size-xsmall: 16px;
	--size-small: 24px;
	--size-medium: 32px;
	--size-large: 40px;
	--size-xlarge: 48px;
	--size-xxlarge: 64px;
	--size-xxxlarge: 80px;
}
