:root {
	/* Spacing + Sizing */
	--size-xxxsmall: 4px;
	--size-xxsmall: 8px;
	--size-xsmall: 16px;
	--size-small: 24px;
	--size-medium: 32px;
	--size-large: 40px;
	--size-xlarge: 48px;
	--size-xxlarge: 64px;
	--size-xxxlarge: 80px;

	/* Border radius */
	--border-radius-small: 2px;
	--border-radius-medium: 5px;
	--border-radius-large: 6px;

	/* Shadows */
	--shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
	--shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
}
