@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;
	src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7')
			format('woff2'),
		url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7')
			format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: normal;
	src: url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7')
			format('woff2'),
		url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7')
			format('woff');
}

@font-face {
	font-weight: 600;
	font-family: 'Inter';
	font-style: normal;
	src: url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7')
			format('woff2'),
		url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7')
			format('woff');
}

:root {
	/* Font stack */
	--font-stack: 'Inter', sans-serif;

	/* Font sizes */
	--font-size-xsmall: 11px;
	--font-size-small: 12px;
	--font-size-large: 13px;
	--font-size-xlarge: 14px;

	/* Font weights */
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 600;

	/* Lineheight */
	--font-line-height: 16px; /* Use For xsmall, small font sizes */
	--font-line-height-large: 24px; /* Use For large, xlarge font sizes */

	/* Letterspacing */
	--font-letter-spacing-pos-xsmall: 0.005em;
	--font-letter-spacing-neg-xsmall: 0.01em;
	--font-letter-spacing-pos-small: 0;
	--font-letter-spacing-neg-small: 0.005em;
	--font-letter-spacing-pos-large: -0.0025em;
	--font-letter-spacing-neg-large: 0.0025em;
	--font-letter-spacing-pos-xlarge: -0.001em;
	--font-letter-spacing-neg-xlarge: -0.001em;

	/* Border radius */
	--border-radius-small: 2px;
	--border-radius-med: 5px;
	--border-radius-large: 6px;

	/* Shadows */
	--shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
	--shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
}
