@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
/* Overrides */

body
  font-family: 'Inter', sans-serif; 

h1, h2, h3, h4, h5, h6
  font-weight 700
  letter-spacing: -0.03em;
  line-height 1.25
  color: $headerColor

.theme-container 
  max-width $pagewidth
  margin 0 auto


// Dettach fixed sidebar from the left side and align it with page width container
.sidebar 
  left inherit


.navbar 
  max-width $pagewidth
  margin 0 auto


// Page padding for responsive view
{$contentClass}:not(.custom) 
  padding 2rem 2rem


// Table overides
table code 
  font-family "IBM Plex Mono"
  color #000 !important


// Remove border
th, td 
  border 1px solid #ffffff
  padding 0.6em 1em
  line-height 1.5rem


// Color every 2nd row
tr:nth-child(2n) 
  background-color #fbfbfb


// Change tip custom block to match accent color
.custom-block.tip 
  border-color $accentColor


// Override icon class since it conflicts with the imported .icon class from the vue library
.icon.outbound 
  width 1rem!important
  height 1rem!important


/* Additional styles */

.color-preview 
  display inline-block
  width 2rem
  height 2rem
  border-radius 100%
  border 1px solid #eee


.home .hero img
  max-width 450px!important

