/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #18a0fb
$headerColor = #000
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #000

$pagewidth = 80rem

$contentWidth = 55rem

